dest/
temp/
/node_modules/
/js/engine/CPBlend2.js
/js/engine/CPBlend.js
/test/blending/bench/blending.js
/test/blending/compare/blending.js
/test/integration_test/integration.js
/test/thumbnail_test/thumbnail.js
/.idea
/coverage
/test/compare_against_reference/test-images
/resources/js/chickenpaint.js
/resources/js/chickenpaint.js.map
/resources/js/chickenpaint.min.js
/resources/js/chickenpaint.min.js.map
/resources/gfx/icons-source/dark/
/resources/gfx/icons-source/light/
